.maps-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.pick-up,
.drop-off {
  margin: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.pick-up input {
  margin-left: 14px;
}

.drop-off input {
  margin-left: 5px;
}

.map-top {
  display: flex;
  flex-direction: row;
}

.find-ride-errors {
  position: absolute;
  list-style-type: none;
  color: rgb(255, 78, 78);
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  padding: 5px;
  z-index: 10;
  top: 20px;
}

#ride-button {
  margin-left: 10px;
}

.loading {
  position: absolute;
  z-index: 10;
}

@media only screen and (max-width: 400px) {
  #ProfileModal {
    top: 180px;
    right: 290px;
  }
}
