#ProfileModal {
  position: fixed;
  top: 180px;
  right: 95px;
  z-index: 3;
}

#ProfileModal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

#ProfileModal-content {
  height: auto;
  width: auto;
  background-color: rgba(255, 255, 255, 0.08);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  background: transparent;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 40px rgba(69, 69, 69, 0.6);
  padding: 15px 15px;
}

.ProfileModal-content * {
  font-family: "Poppins", sans-serif;
  color: rgb(0, 0, 0);
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}

.profile-dropdown li {
  font-family: "Poppins", sans-serif;
  color: rgb(0, 0, 0);
  letter-spacing: 0.5px;
  outline: none;
  border: none;
  list-style-type: none;
}
